# OSX
#
.DS_Store


*.iml
.idea

# node.js
#
node_modules/
npm-debug.log
.yarninstall

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
tags

mattermost-redux-*.tgz
.tmp

# Compiled files
/action_types
/actions
/client
/constants
/reducers
/selectors
/store
/utils

# browser bundle
/lib
