node_modules/
.idea
test
ISSUE_TEMPLATE.md
Makefile
PULL_REQUEST_TEMPLATE.md
.eslintrc.json
.gitattributes
.gitignore
.npmignore
.npminstall
.tmp
.circleci
jest.config.js
babel.config.js
.editorconfig                          
.eslintignore                          
mattermost-redux.iml 
.eslintrc.json
